/* line 1 */
body {
  font-family: Verdana;
  font-size: 10pt;
}

div#radar
{
  width: 400px;
  height: 400px;
  border: 1px solid black;
  overflow: hidden;
}
div.user
{
  position: relative;
  width: 10px;
  height: 10px;
  background-color: blue;
}

html{
  background: url('../images/background.png') no-repeat center center;

  min-height: 100%;

  background-size: cover;
}

body
{
  min-height: 100%;
}
